.article-title {
  text-align: center;
  color: var(--white-color);
  margin-bottom: var(--big-mb);
}

.article-text {
  background-color: var(--black-color);
  color: var(--white-color);
  margin-bottom: var(--big-mb);
  line-height: 1.7;
}
