:root {
  --black-color: #333333;
  --white-color: #e6e6e6;
  --red-color: #b30000;
  --big-button-padding: 1rem;
  --big-button-width: 7rem;
  --small-border-radius: 5px;
  --big-mb: 1.5rem;
  --big-font: 24px;
  --medium-font: 18px;
}

@media screen and (min-width: 768px) {
  :root {
    --big-mb: 5rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
