:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --red-color: #ff0000;
  --big-button-padding: 1rem;
  --big-button-width: 7rem;
  --small-border-radius: 5px;
  --big-mb: 5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
